.MessageTextContainer{
    background-color: #efefef;
    color: #000;
    border-radius: 22px;
    border-bottom-left-radius: 0;
    position: relative;
    max-width: 600px;
    overflow: hidden;
    text-align: right;
    min-width: 40px;
    text-align: left;
    font-size: 0.95rem;
    position: relative;
    padding: 0.5em 1em;
    border: 1px solid rgba(var(--bb2,239,239,239),1);
}

.MessageTextContainer.right{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 22px;
    background: #7266ba;
    color: #fff;
}

.right .time{
    float: left;
    margin-left: 20px;
    margin-right: 0;
}

.time {
    float: inherit;
    color: #aaa;
    text-align: right;
    font-size: 11px;
    padding-top: 4px;
    margin-right: 20px;
}

.nickName{
      color: #7266ba;
      font-weight: bold;
      margin-right: 6px;
}

.right .nickName{
    color: #7266ba;
    font-weight: bold;
    margin-right: 6px;
}